@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,500;1,700&display=swap');
      *{
            margin: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;     
      }

      header{
            background-color: lightsalmon;
            border-bottom: 1px solid black;
      }

      .texto-principal{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0 10px 0;
      }

      .info{
            background-color: rgb(233, 228, 163);
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid black;
            padding-top: 20px;
            font-size: 20px;
      }

      .titulo-cardapio{
            background-color:  lightsalmon;
            font-size: 25px;
            padding: 10px 0 10px 0;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .cardapio-itens{
            background-color: rgb(233, 228, 163);
            font-size: 20px;
            padding: 20px ;
            border-bottom: 1px solid black; 
      }

      input{
            margin: 20px;
      }

      .quant{
            background-color:  lightsalmon; 
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
      }

      label{
            margin: 10px;
      }

      .Preparo{
            background-color:  lightsalmon; 
            display: flex;
            display: block;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-bottom: 1px solid black; 
      }

      .taxa{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-bottom: 1px solid black; 
            background-color: rgb(233, 228, 163);
      }

      .Calcular-Pedido{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-bottom: 1px solid black; 
            background-color:  lightsalmon;
      }

      button{
            width: 100px;
            border-radius: 10%;
            cursor: pointer;
            background-color: black;
            color: azure;
            font-size: 15px;
      }

      .Total-do-Pedido{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-bottom: 1px solid black; 
            background-color: rgb(233, 228, 163);
      }

      .Quantidade-por-Tipo{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-bottom: 1px solid black; 
            background-color:  lightsalmon;
      }

      .quantidadePorTipo{
            display: block;
            justify-content: center;
            align-items: center;
            font-size: 20px;
      }

      .WhatsApp{
            background-color: rgb(233, 228, 163);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            height: 100px;
      }


      